.module-buttons {
    text-align: right;
    padding-bottom: 5px;
}

.basic {
    font-size: .9em;
    border-radius: 4px;
    border: 1px solid grey;
    padding: 5px;
    background-color: ghostwhite;
}

.basic:hover {
    background-color: ghostwhite;
    border: 1px solid grey;
}

.red {
    font-size: .9em;
    border-radius: 4px;
    border: 1px solid grey;
    background-color: maroon;
    color:white
}

.red:hover {
    border: 1px solid grey;
    background-color: maroon;
    color:white
}

.drop {
    background-color: ghostwhite;
    border: 1px solid grey;
    border-radius: 4px;
    font-size: .9em;
    padding: 6px;
    margin-right: 5px;
}

.module-div {
    padding-right: 20px;
}

.module-list {
    margin-bottom: 25px;
}

.module-section {
    background-color: ghostwhite;
    padding: 10px 0 10px 0;
    font-weight: bold;
    border-radius: 2px;
    border: 1px solid lightgrey;
}

.module-item {
    background-color: white;
    padding: 10px 0 10px 0;
    border: 1px solid lightgrey;
    border-left: green 5px solid;
    font-weight: bold;
}

.edit {
    border: 1px solid lightgray;
    background-color: ghostwhite;
    color: black;
    padding: 1px 6px 1px 6px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.edit:hover {
    border: 1px solid lightgray;
}

.delete {
    border: 1px solid lightgray;
    background-color: maroon;
    color: white;
    padding: 1px 6px 1px 6px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.delete:hover {
    border: 1px solid lightgray;
}

.button-up {
    margin-botton: 10px;
}

.add {
    font-size: .9em;
    border-radius: 4px;
    border: 1px solid grey;
    padding: 5px;
    background-color: green;
    color: white;
}

.add:hover {
    background-color: ghostwhite;
    border: 1px solid grey;
    border-radius: 4px;
}

.module-box {
    border-radius: 4px;
    border: 1px solid grey;
    padding: 4px 2px 6px 2px;
    font-size: .9em;
    margin-right: 5px;
    width: 150px;
}