.dashboard {
    /*margin-left: 85px;*/
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.card-text:hover {
    text-decoration: maroon underline;
}

.card-text {
    text-decoration: none;
    color: navy;
}

.card-title {
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 4px;
}

.card-name {
    color: dimgray;
    font-size: .9em;
    margin-bottom: 0;
    font-weight: normal;
    text-decoration: none;
}

.course-button {
    padding-left: 0px;
    color: dimgray;
}

.course-button:hover {
    color: red;
}

.card-description {
    color: dimgray;
    font-size: .6em;
    font-weight: lighter;
    margin-bottom: 1em;
    text-decoration: none;
}

.addButton {
    border: 1px solid lightgray;
    background-color: green;
    color: white;
    padding: 1px 6px 1px 6px;
    border-radius: 4px;
    margin-top: 10px;
}

.addButton:hover {
    border: 1px solid lightgray;
}

.updateButton {
    border: 1px solid lightgray;
    background-color: ghostwhite;
    color: black;
    padding: 1px 6px 1px 6px;
    border-radius: 4px;
    margin-top: 10px;
}

.updateButton:hover {
    border: 1px solid lightgray;
}

.editButton {
    border: 1px solid lightgray;
    background-color: ghostwhite;
    color: black;
    padding: 1px 6px 1px 6px;
    border-radius: 4px;
}

.editButton:hover {
    border: 1px solid lightgray;
}

.deleteButton {
    border: 1px solid lightgray;
    background-color: darkred;
    color: white;
    padding: 1px 6px 1px 6px;
    border-radius: 4px;
}

.deleteButton:hover {
    border: 1px solid lightgray;
}

label {
    font-weight: bold;
}