.main-page {
    margin-left: 85px;
}

@media (max-width: 756px) {
    .something {
        display: none;
    }
    .main-page {
        margin-left: 0;
    }
}

@media (min-width: 756px) {
    .something {

    }
}


.course-navigation-show {
    max-width: min-content;
}
