.wd-modules,
.wd-modules * {
    border-radius: 0%;
    border: none;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}

.wd-modules {
    margin: 5px;
}

.wd-modules > li {
    background-color: lightgray;
    border: 1px solid gray !important;
    border-left: none !important;
}

.wd-modules > li > div {
    padding: 6px;
    border-left: 1px solid gray !important;
}

.wd-modules > li > ul > li {
    padding: 10px;
    border-top: 1px solid gray !important;
    border-left: 4px solid green;
}

.wd-modules > li {
    margin-bottom: 20px;
}

.module-child {
    padding-right: 50px;

}

.module-link {
    color: darkred;
    padding-left: 13px;
    padding-right: 13px;
}

.module-link-text {
    color: darkred;
    text-decoration: none;
}

.module-buttons {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
    width: 100%;
    display: flex;
    justify-content: end;
}

.module-button {
    border-radius: 2px;
    border: 1px solid dimgray;
    background-color: lightgray;
    color: #212529;
    height: 30px;
    width: fit-content;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    min-width: max-content;
}
